<!DOCTYPE html>
<html>
<head>
  <title>GeneratorBug</title>
  <%= stylesheet_link_tag    "generator_bug/application", :media => "all" %>
  <%= javascript_include_tag "generator_bug/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
